@page "/cuisineDetail/{id:int}"
@layout MainLayout
@inject ICuisineService CuisineService


<div>
    <Card>
        <BodyTemplate>
            <div style="float:left;width:200px">
                <img src="@cuisine.ImageUrl" class="img-fluid" alt="@cuisine.Name" />
            </div>
            <div style="float:left;padding-left:20px">
                <h5 style="font-weight:bold;color:#7F82BB;font-size:30px;padding-bottom:10px">@cuisine.Name</h5>
                <p style="padding-bottom:5px">
                    @cuisine.Description
                </p>
                <Rate Value="@BindValue1" IsReadonly="true" ShowValue="true" />
            </div>
        </BodyTemplate>
    </Card>
    <br />
    <center>
        <h5>-- 菜品评论 --</h5>
    </center>
    <br>
    @foreach (var sellerReview in sellerReviews)
    {
        <Card>
            <BodyTemplate>
                <div style="float:left;width:6%">
                    <img class="img-fluid" style="object-fit: cover;" src="@sellerReview.Avartar" />
                </div>
                <div style="float:left;padding-left:20px;width:80%">
                    <h5 style="font-weight:bold;color:#7F82BB">@sellerReview.UserName</h5>

                    <Rate Value="@sellerReview.Rate" IsReadonly="true" ShowValue="true" />
                    <p style="color:grey;font-size:15px;padding-top:10px">@sellerReview.Content</p>
                </div>
                <div style="float:right;">
                    <h5 style="color:grey;font-size:15px;">@sellerReview.Date</h5>
                </div>
            </BodyTemplate>
        </Card>
    }
</div>

@code {
    //private Cuisine? cuisine = null;
    private Cuisine cuisine = new Cuisine();

    private int BindValue1 { get; set; } = 3;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        cuisine = await CuisineService.GetCuisineById(Id);

    }

    private List<SellerReviewModel> sellerReviews = new List<SellerReviewModel>
    {
        new SellerReviewModel
        {
            UserName = "test",
            Date = "2023.6.23 12:02",
            Content = "启动“十一五”项目立项工作。根据国家语言战略和标准化工作的需要，国外语言规划经典研究、国家外语发展战略研究、中国当代语境下的语言教育问题研究、语言教育对语言能力的解释度与华人社区汉语规范的宽式原则、夹用英文的中文文本的标点符号用法、ISO 10646汉字字际关系研究、语言普查与数字化等一批项目立项。",
            Avartar = "https://ts1.cn.mm.bing.net/th/id/R-C.0bab160015bf9e56450d5fded33bd448?rik=VFMstq3mAZG1pg&riu=http%3a%2f%2fwww.qzqn8.com%2fwp-content%2fuploads%2f2020%2f02%2f3-9.jpg&ehk=pnkhUlGCDYmxisEuCwYL4zXW92froAxt%2f0B5i9AYAkY%3d&risl=&pid=ImgRaw&r=0",
            Rate = 4
        },
        new SellerReviewModel
        {
            UserName = "test",
            Date = "2023.6.23 12:02",
            Content = "好吃好吃好吃",
            Avartar = "https://ts1.cn.mm.bing.net/th/id/R-C.0bab160015bf9e56450d5fded33bd448?rik=VFMstq3mAZG1pg&riu=http%3a%2f%2fwww.qzqn8.com%2fwp-content%2fuploads%2f2020%2f02%2f3-9.jpg&ehk=pnkhUlGCDYmxisEuCwYL4zXW92froAxt%2f0B5i9AYAkY%3d&risl=&pid=ImgRaw&r=0",
            Rate = 4
        },
        new SellerReviewModel
        {
            UserName = "test",
            Date = "2023.6.23 12:02",
            Content = "好吃好吃好吃",
            Avartar = "https://ts1.cn.mm.bing.net/th/id/R-C.0bab160015bf9e56450d5fded33bd448?rik=VFMstq3mAZG1pg&riu=http%3a%2f%2fwww.qzqn8.com%2fwp-content%2fuploads%2f2020%2f02%2f3-9.jpg&ehk=pnkhUlGCDYmxisEuCwYL4zXW92froAxt%2f0B5i9AYAkY%3d&risl=&pid=ImgRaw&r=0",
            Rate = 3
        }
    };

    class SellerReviewModel
    {
        public string? UserName { get; set; }
        public string? Date { get; set; }
        public string? Content { get; set; }
        public string? Avartar { get; set; }
        public int Rate { get; set; }
    }

}
