@page "/seller/{id:int}"
@layout MainLayout
@inject NavigationManager Navigation
@inject ISellerService SellerService
@inject ICuisineService CuisineService


@if (seller == null)
{
    <span>
        加载中...
    </span>
}
else
{
    <div>
        <Card >
            <BodyTemplate>
                <div style="float:left;width:150px">
                    <img src="@seller.ImageUrl" class="img-fluid" alt="@seller.Name" />
                </div>
                <div style="float:left;padding-left:20px">
                    <h5 style="font-weight:bold;color:#7F82BB;font-size:30px;padding-bottom:10px">@seller.Name</h5>
                    <p style="color:gray;margin-bottom:5px;"><i class="fa-solid fa-location-dot" aria-hidden="true"></i> @seller.Location</p>
                    <Rate Value="@BindValue1" IsReadonly="true" ShowValue="true" />
                </div>
            </BodyTemplate>
        </Card>
        <br>
        <div style="width:100%;text-align:center">
        <img class="img-fluid" src="https://restapi.amap.com/v3/staticmap?location=121.218134,31.287330&zoom=15&size=500*110&markers=mid,,A:121.218134,31.287330&scale=2&key=89d990bd817cdb3c7169b7582b6d4739" />
        </div>
        <br>
        <Tab IsBorderCard="true" IsLazyLoadTabItem="true" >
            <TabItem Text="菜品">
                @if (cuisines.Count == 0)
                {
                    <span>
                        未收录菜品
                    </span>
                }
                else
                {
                <Row ItemsPerRow="ItemsPerRow.Four">
                    @foreach (var cuisine in cuisines)
                    {
                        <Card @onclick="(()=> JumpDetail(cuisine.Id))">
                            <BodyTemplate>

                                <div class="div">
                                    <img class="img-fluid" style="object-fit: cover;" src="@cuisine.ImageUrl" />
                                </div>
                                <h5 style="padding-top:10px;font-weight:bold;color:#7F82BB">@cuisine.Name</h5>
                                <Rate Value="@BindValue1" IsReadonly="true" ShowValue="true" />
                            </BodyTemplate>
                        </Card>
                    }
                </Row>
                }
                
            </TabItem>
            <TabItem Text="评价">
                @foreach (var sellerReview in sellerReviews)
                {
                    <Card>
                        <BodyTemplate>
                            <div style="float:left;width:6%">
                                <img class="img-fluid" style="object-fit: cover;" src="@sellerReview.Avartar" />
                            </div>
                            <div style="float:left;padding-left:20px;width:80%">
                                <h5 style="font-weight:bold;color:#7F82BB">@sellerReview.UserName</h5>
                               
                                <Rate Value="@sellerReview.Rate" IsReadonly="true" ShowValue="true" />
                                <p style="color:grey;font-size:15px;padding-top:10px">@sellerReview.Content</p>
                            </div>
                            <div style ="float:right;">
                                <h5 style="color:grey;font-size:15px;">@sellerReview.Date</h5>
                            </div>
                        </BodyTemplate>
                    </Card>
                }
            </TabItem>
        </Tab>
    </div>
}
@code {
    private Seller? seller = null;

    private int BindValue1 { get; set; } = 3;

    [Parameter]
    public int Id { get; set; }

    private List<Cuisine> cuisines = new List<Cuisine>();

    protected override async Task OnParametersSetAsync()
    {
        seller = SellerService.sellers.Find(p => p.Id == Id);
        cuisines = await CuisineService.GetCuisinesBySellerId(Id);
        
        
    }

    private Task JumpDetail(int id)
    {
        Navigation.NavigateTo("/cuisinedetail/" + id);

        return Task.CompletedTask;
    }

    private List<SellerReviewModel> sellerReviews = new List<SellerReviewModel>
    {
        new SellerReviewModel
        {
            UserName = "test",
            Date = "2023.6.23 12:02",
            Content = "启动“十一五”项目立项工作。根据国家语言战略和标准化工作的需要，国外语言规划经典研究、国家外语发展战略研究、中国当代语境下的语言教育问题研究、语言教育对语言能力的解释度与华人社区汉语规范的宽式原则、夹用英文的中文文本的标点符号用法、ISO 10646汉字字际关系研究、语言普查与数字化等一批项目立项。",
            Avartar = "https://ts1.cn.mm.bing.net/th/id/R-C.0bab160015bf9e56450d5fded33bd448?rik=VFMstq3mAZG1pg&riu=http%3a%2f%2fwww.qzqn8.com%2fwp-content%2fuploads%2f2020%2f02%2f3-9.jpg&ehk=pnkhUlGCDYmxisEuCwYL4zXW92froAxt%2f0B5i9AYAkY%3d&risl=&pid=ImgRaw&r=0",
            Rate = 4
        },
        new SellerReviewModel
        {
            UserName = "test",
            Date = "2023.6.23 12:02",
            Content = "好吃好吃好吃",
            Avartar = "https://ts1.cn.mm.bing.net/th/id/R-C.0bab160015bf9e56450d5fded33bd448?rik=VFMstq3mAZG1pg&riu=http%3a%2f%2fwww.qzqn8.com%2fwp-content%2fuploads%2f2020%2f02%2f3-9.jpg&ehk=pnkhUlGCDYmxisEuCwYL4zXW92froAxt%2f0B5i9AYAkY%3d&risl=&pid=ImgRaw&r=0",
            Rate = 4
        },
        new SellerReviewModel
        {
            UserName = "test",
            Date = "2023.6.23 12:02",
            Content = "好吃好吃好吃",
            Avartar = "https://ts1.cn.mm.bing.net/th/id/R-C.0bab160015bf9e56450d5fded33bd448?rik=VFMstq3mAZG1pg&riu=http%3a%2f%2fwww.qzqn8.com%2fwp-content%2fuploads%2f2020%2f02%2f3-9.jpg&ehk=pnkhUlGCDYmxisEuCwYL4zXW92froAxt%2f0B5i9AYAkY%3d&risl=&pid=ImgRaw&r=0",
            Rate = 3
        }
    };

    class SellerReviewModel
    {
        public string? UserName { get; set; }
        public string? Date { get; set; }
        public string? Content { get; set; }
        public string? Avartar { get; set; }
        public int Rate{ get; set; }
    }

}
